body{
    margin: 0;
    padding: 0;
}



#contenu #information{
    width: 200px;
    height: 200px;
    background-color:white;
    z-index:1;
    position: relative;
    top: -200px;
    left: 25%;
    opacity: 0.5;
}

h1{
    color: black;
    margin-top: 200px;
    margin-left: 85 0px;
 

}

#contenu img{
    width: 60%;
    height: 60%;   
    position: relative;
    top: 150px;
    left: 20%;
}

